* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    
}

button {
    display: block;
    cursor: pointer; 
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.navigation {
    display: block;
    height: 100px;
}


.link {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    text-transform: uppercase;footer
    font-weight: 600;
    color: #515151;
}




.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: #515151;
    font-weight: 300;
}

.logo::first-letter {
    color: #1abc9c;
    font-weight: 600;
}

.link:hover{
    color: #1abc9c;
}


.container {
    width: 1112px;  
    margin: 0 auto;
    
    
}

.container_goods {
    width: 1600px;  
    margin: 0 auto;
    background-color: #e9f0fd;
    
}

.goods_list_item:hover .goods_hover_menu{
    opacity: 1;
    visibility: visible;
}

.hover_button {
    width: 50px;    
    height: 50px;
    background-color: transparent;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
}



  

.goods_hover_menu {
    height: 282px;  
    width: 255px;
    position: absolute;
    border-width: 10px;
    border-color: #ffffff;
    border-style: solid;
    top: 0%;
    left: 0%;
    z-index: 11;
    background-color: rgba(0, 0, 0, .549);
    opacity: 0;
    visibility: hidden;
    font-size: 0px;
}

.hover_button_like {
    background-image: url(/img/icons/like2.png);
    background-size: cover;
    position: absolute;
    z-index: 12;    
    left: 33px;
    top: 90px;
}

.hover_button_arrows {
    background-image: url(/img/icons/direction.png);
    background-size: cover;
    position: absolute;
    z-index: 12;    
    left: 50%;
    transform: translateX(-50%);
    top: 90px;
    background-color: #1abc9c;
}
.hover_button_clock {
    background-image: url(/img/icons/clock.png);
    background-size: cover;
    position: absolute;
    width: 50px;    
    height: 50px;
    z-index: 12;    
    right: 33px;
    top: 90px;
}

.hover_button_cart {
    background-image: url(/img/icons/cart.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    position: absolute;
    background-color: rgba(0, 0 ,0 , .6);
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    z-index: 12;    
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    width: 170px;
    height: 50px;
}

.goods {
    width: 1112px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo {
    float: left;
    padding-top: 30px;
}

.nav_list {
    float: right;
    padding-top: 40px;
}

.nav_list_item {
    float: left;
}

.nav_list_item:not(:last-child) {
    margin-right: 24px;
}

.slider {
 position: relative;
  height: 600px;    
  width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0 ,0 , .5), rgba(0, 0 ,0 , .5)), url(/img/sliderphoto.jpg); 
  background-size: cover;

}


.slider_text {
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    width: 740px;
    height: 98px;
    z-index: 4;
    font-size: 0px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 82px;
    letter-spacing: -0.02em;
}





.slider_subtitle {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;

}
  

.slider_ctrl_item {
    display: block;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    z-index: 3;
}

.slider_ctrl_item_left {
    left: 245px;
}

.slider_ctrl_item_right {
    right: 245px;
}



.btn {
    height: 104px;
    width: 104px;
    background-color: #1abc9c;
    border: none;
    }

.btn_right {
    background-image: url(/img/icons/angle-right.png);
    background-size: cover;
}

.btn_left {
    background-image: url(/img/icons/angle-left.png);
    background-size: cover;
}




h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    text-transform: uppercase;
    color: #515151;
    margin-bottom: 120px;
}



h2::after {
    display: block;
    content: "";
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 30px;
}


.goods_list_item {
    float: left;
    margin-right: 30px;
    position: relative;
}

.goods_list_item:nth-child(4) {
    margin-right: 0px;
}

.goods_list_item:hover .goods_button {background: linear-gradient(to right, #1abc9c, #1abc9c 78%, #7fd9c7 78%);} 


.footer {
    height: 100px;
    width: 1600px;
    background-color: #323232;
    margin: 0 auto;
    text-align: center;
    padding-top: 45px;
}

.footer_text {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}
.footer_text_designer {
    color: #1abc9c;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.goods_button {
    position: absolute;
    height: 40px;
    width: 255px;
    font-family: 'Roboto', sans-serif;
    bottom: 0px;
    border: none;
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    background: linear-gradient(to right, #000000, #000000 78%, #8c8c8c 78%);
    padding-left: 14px;
    padding-right: 14px;
}

.goods_name {
    display: block;
    float: left;
}

.goods_price {
    display: block;
    float: right;
}


