/* Main sizes*/

$main-width: 1200px;


/* Main colors */

$main-color: #95e1d3;
$red-color: #f38181;
$yel-color: #fce38a;

/*Text color*/

$body-text-color: #999999;
$body-title-color: #333333;
$form-text-color: #cccccc;
$header-text-color: #ffffff;


/* Fonts */

$main-font: 'Montserrat', sans-serif;
$second-font: 'Roboto', sans-serif;
$third-font: 'Kaushan Script';


$text-size: 0.9375rem;

